@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    color:rgb(172, 125, 136);
    text-align: center;
    font-size: 35px;
}
.opci{
    font-size: 15px;
    color:rgb(173, 27, 100);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#first{
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
    border: 1px rgb(187, 64, 126) solid ;
    border-radius: 20px;
}
#second{
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
    border: 1px rgb(187, 64, 126) solid ;
    border-radius: 20px;
}

th{
    color:rgb(204, 75, 75);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px rgb(141, 9, 75) solid ;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
td{
    color:rgb(153, 77, 28);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px rgb(141, 9, 75) solid ;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
