@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Supermercado+One&family=Titan+One&display=swap');

body{
    background-image:url(./foto/fondo.png) ;
}
h1{
    text-align: center;
    color:rgb(7, 102, 173);
    font-family: "Titan One", sans-serif;
    font-weight: 370;
    font-size: 78px;
    font-style: normal;
    margin: 20px;
      
}
h2{
    text-align: center;
    color:rgb(41, 173, 178);
    font-family: "Supermercado One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
#principal{
    display: flex;
    margin: 35px;
}
.opci{
    text-align: center;
    justify-content: space-evenly;
    width: 270px;
    height: 270px;
    margin: 75px;
    margin-top: 6px;
    
}