@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    background-color: rgba(30,29,43,255);
    font-family: 'sans-serif';

}
#mil{
    width: 1080px;
    height: 2920px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}
#primero{
    position: relative;
    margin: 15px;
}
.barraHorizontal{
    display: flex;
    margin: 5px;
}
.foods{
    color: rgba(255,112,42,255);
    margin-top: 15px;
    margin-right: 375px;
    margin-left: 30px;
    width: 150px;
    height: 50px;
}
.opciones{
    color: rgba(255,255,255,255);
    font-size: medium;
    margin-top: 30px;
    margin-left: 60px;
    width: 150px;
    height: 30px;
}
.cuadro{
    display: flex;
    width: 500px;
    height: 100px;
}
.texto{
    text-align: left;

    width: 1080px;
    height: 434px;
    margin-left: 80px;
}
.FWebsite{
    color: rgba(255,112,42,255);
    font-size: 70px;
    margin-left: 30px;
    width: 461px;
    height: 100px;
    margin-bottom: 5px;
}
.intro{
    color: rgba(255,255,255,255);
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}
.FakeB{
    position: relative;
    text-align: center;
    background-color: rgba(255,112,42,255);
    width: 240px;
    height: 90px;
    margin-left: 30px;
}
.falsoB{
    position: absolute;
    text-align: center;
    background-color: rgba(255,112,42,255);
    color: rgba(255,255,255,255);
    font-size: 30px;
    margin-left: 25px;
}
.home{
    width: 500px;
    height: 500px;
    text-align: center;
    margin-left: 85px;
}
#segundo{
    display: flex;
    position: relative;
    margin: 15px;
    top: 58px;

}
.aboutUS{
    position: absolute;
    color: rgba(255,112,42,255);
    font-size: 30px;
    margin: 5px;
    height: 75px;
    width: 243px;
}
.Wl{
    position: relative;
    color: rgba(255,255,255,255);
    font-size: 60px;
    width: 488px;
    height: 200px;
    margin-bottom: 5px;
    top: 25px;
}
.parrafo{
    position: relative;
    color: rgba(255,255,255,255);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
}
#cfB{    
    top: 20px;
    margin-left: 0px;
}
#tercero{
    position: relative;
    display: inline;
    text-align: center;
    width: 1615px;
    height: 709px;

}
.Fresh{
    position: relative;
    color: rgba(255,255,255,255);
    font-size: 60px;
    margin-bottom: 5px;
    top: 25px;
}
.FM{
    position: absolute;
    color: rgba(255,112,42,255);
    font-size: 30px;
    margin: 5px;
    height: 75px;
    width: 243px;
    text-align: center;
    left: 400px;
}
#deLado{
    display: flex;
}
.comida{
    background-color: rgba(255,239,232,255);
    width: 20px;
    width: 20px;
}
.cUno{
    position: relative;
    background-color: rgba(255,239,232,255);
    border-color: rgba(0,0,0,255);
}
.TeComidaG{
    background-color: rgba(255,239,232,255);
    color: rgba(0,0,0,255);
    font-size: 20px;
    margin: 2px;
    height: 60px;
    width: 70px;
    text-align: center;
    left: 400px;
}
.TeComidaM{
    background-color: rgba(255,239,232,255);
    color: rgba(0,0,0,255);
    font-size: 10px;
    margin: 2px;
    height: 60px;
    width: 70px;
    text-align: center;
    left: 400px;
}
.TeComidaP{
    background-color: rgba(255,239,232,255);
    color: rgba(255,112,42,255);
    font-size: 10px;
    margin: 2px;
    height: 60px;
    width: 70px;
    text-align: center;
    left: 400px;  
}