*{
    background-image:  url(./fotos/FondoTwitch.png),url(./fotos/Path\ 1@2x.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center, center center;
    background-size: cover, cover;
    color: #FFFFFF;
    text-align: center;
    margin:1px;
    padding-left: 30px;
}
h1{
    margin: 10px;
}
.lupa{
    margin-top: 37px;
    margin-left: 6px;
    width: 36px;
    height: 36px;
    display:block;
}
.login{
    position: absolute;
    top: 0;
    left: 0;
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    border-radius: 10px;
    font-weight: 200;
    color: aquamarine;
    margin: 5px;
    font-size: 12px;
    background-color: white;
    border-color: white;
}
.Sign{
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    border-radius: 10px;
    font-weight: 200;
    color: aquamarine;
    margin: 5px;
    font-size: 12px;
    background-color: white;
    border-color: white;
}
.lprime{
    position: relative;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.rectazul{
    position: relative;
    background-color: blue;
}
.cosiblue{
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
    background: transparent url('./fotos/Group\ 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.chiquitos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin:5px;
}
.chi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.pretexto{
    display:contents
}
.mini{
    width: 181px;
    height: 309px;
    top: 1896px;
    left: 1248px;
    width: 181px;
    height: 309px;
    background: transparent url('./fotos/Rectangle\ 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    padding: 10px;
    background-color: #f0f0f0;
}
.laX{
    top: 2650px;
    left: 876px;
    width: 169px;
    height: 169px;
    background: transparent url('img/Icon metro-cancel.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.textot{
    margin:20px;
}
.imp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin: 200px;
    margin-left: 100px;
}
.iph{
    width: 256px;
    height: 219px;
    top: 3606px;
    left: 386px;
    width: 256px;
    height: 219px;
    background: transparent url('img/Image 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.mac{
    width: 584px;
    height: 534px;
    top: 3440px;
    left: 685px;
    width: 584px;
    height: 534px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.pc{
    width: 271px;
    height: 238px;
    top: 3587px;
    left: 1261px;
    width: 271px;
    height: 238px;
    background: transparent url('img/Image 3.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.firma{
    position: relative;
    
}
.ulti{
    position: relative;
    display: inline-block;
}
