.primero{
    background-color: #ebb6c8;
}
#si{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #DECDF5;
    background-color: #df8da3;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
}
.busca{
    color: #ac0039;
    background-color: #D3C0D2;
    border: 1vi double #bb5e77;
    height: 6rem;
    width: 12rem;
}