body{
    background-color: blanchedalmond;
}
#barraVertical {
    display: flex;
    position: absolute;
    height: 29em;
    background-color: blanchedalmond;
    text-decoration: none;
    color: black;
    left: 1em;
    flex-direction: column;
}
.opci, .opcicarro {
    text-decoration: none;
    color: black;
}
#centro {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 13em;
    top: 3em;
    width: 98em;
    height: 69em;
    border: 1px solid hotpink;
    border-radius: 2em;
    background-color: rgb(252, 198, 225);
}
#centroSub{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 13em;
    top: 3em;
    width: 98em;
    height: 55em;
    border: 1px solid hotpink;
    border-radius: 2em;
    background-color: rgb(252, 198, 225);
}
.elh1 {
    position: absolute;
    top: -0.7em;
    left: 2em;
}
.tarjeta {
    background-color: rgb(198, 252, 234);
    position: relative;
    height: 17em;
    top: 1em;
    width: 15em;
    left: 18px;
    margin: 1em;
    margin-top: 2em;
    border-radius: 1em;
    padding: 1em;
}
.imagen {
    position: relative;
    width: 8em;
    height: 12em;
    left: 48px;
    top: 10px;
}
.nombre{
    margin-bottom: 0em;
}
.precio{
    margin-top:0em
}
#centroCarro{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 13em;
    top: 3em;
    width: 98em;
    height: 56em;
    border: 1px solid hotpink;
    border-radius: 2em;
    background-color: rgb(252, 198, 225);
}
.tarjetaCarro {
    display: flex;
    background-color: rgb(198, 252, 234);
    position: relative;
    height: 13em;
    top: 2em;
    width: 81em;
    left: 80px;
    margin: 2.3em;
    border-radius: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}
.imagenC{
    position: relative;
    width: 9em;
    height: 13em;
    left: 45px;
}
.Subtotal{
    position: relative;
    right: 2em;
}
.elh1C {
    position: absolute;
    top: -0.1em;
    left: 2em;
}
.boton {
    position: relative;
    background-color: green;
    border: 1px solid darkolivegreen;
    border-radius: 1em;
    width: 7em;
    font-size: 2em;
    cursor: pointer;
}
#botondos {
    left: 40em;
    bottom: 0.67em;
}
#botonuno{
    left: 2em;
    top: 0.5em;
}
.celular{
    display: none;
    cursor: pointer;
}
@media (max-width:430px) {
    h1{
        text-align: center;
    }
    #barraVertical {
        display: flex;
        position: absolute;
        width: 26em;
        font-size: small;
        height: 5em;
        flex-direction: row;
    }
    .opci, .opcicarro {
        text-decoration: none;
        color: black;
        width: 6em;
        height: 1em;
        margin: 0.1em;
        border: 1px solid darkkhaki;
        border-radius: 2em;
        text-align: center;
        font-size: 1em;
    }
    #largo{
        height: 2.3em;
    }
    .elh1, .elh1C, .numero, .precioC, .Subtotal{
        display: none;
    }
    #centro{
        left: 0.5em;
        top: 3em;
        width: 25em;
        height: 337em;
    }
    #centroSub{
        left: 0.5em;
        top: 3em;
        width: 25em;
        height: 113em;
    }
    #centroCarro {
        left: 0.5em;
        top: 3em;
        width: 25em;
        height: 87em;
    }
    .tarjeta {
        top: 1em;
        width: 15em;
        left: 2.5em;
        margin: 1em;
        text-align: center;

    }
    .imagen, .imagenC{
        left: 0;
    }
    .imagenC{
        width: 11em;
        height: 16em;
    }
    .tarjetaCarro {
        height: 23em;
        top: -1em;
        width: 18em;
        left: 0em;
        align-items: center;
        padding: 1.5em;
        flex-direction: column;
    }
    .celular{
        display: ruby;
        position: relative;
        background-color: #81db81;
        border: 1px solid darkolivegreen;
        border-radius: 1em;
        width: 5em;
        font-size: 1.5em;
    }
    #botonuno {
        left: 3em;
        top: 0;
    }
    #botondos{
        left: 3em;
        bottom: 0;
        top: 1em;
    }
}