@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');

*{
    width: 1512px;
    height: 1080px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#fondoBlanco{
    position: relative;
    background-color: white;
    width: 1400px;
    height: 800px;
}
.parteArriba{
    position: relative;
    display: flex;
}
.logoM{
    width: 196px;
    height: 44px;
    margin-top: 43px;
    margin-left: 45px;
    margin-bottom: 713px;
}
.opciones{
    margin-left: 492px;
    font-size: 27px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 719px;
}
.opcionesdos{
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 719px;
    font-size: 27px;
}
.lupa{
    width: 40px;
    height: 40px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 719px;
}
.carrito{
    width: 60px;
    height: 60px;
    margin-right: 155px;
    margin-top: 40px;
    margin-bottom: 719px;
}
.tarjetaMetro{
    position: absolute;
    width: 890px;
    height: 500px;
    top: 210px;
    left: 310px;
}
.elH{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
}
.elN{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
}
#elRecta{
    position: absolute;
    left: 1080px;
    display: table;
}
.yellow{
    width: 160px;
    height: 114px;
    background: transparent url('./fotos/Group\ 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.amarillo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin:5px;
}
.info{
    display: table-cell;
    width: 111px;
    height: 36px;
    background: transparent url('./fotos/Rectangle\ 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    padding: 10px;
    background-color: #f0f0f0;
    position: relative;
}
#lineaNegra{
    position: relative;
    background-image: url(./fotos/Rectangle\ 1.png);
    background-color: black;
    width: 110px;
    height: 1080px;
    flex-direction: row;
    flex-wrap: wrap;
}
/*
#verSaldo:not(:target) {
    display: none;
}
#comprarTarjeta:target {
    display: block;
}*/
