.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#fondoBlanco{
    position: relative;
    background-color: white;
    width: 1400px;
    height: 800px;
}
.parteArriba{
    position: relative;
    display: flex;
}
.logoM{
    width: 196px;
    height: 44px;
    margin-top: 43px;
    margin-left: 43px;
    margin-bottom: 713px;
}
.opciones{
    width: 230px;
    height: 41px;
    margin-left: 695px;
    margin-right: 42px;
    margin-top: 40px;
    margin-bottom: 719px;
}
.opcionesdos{
    width: 230px;
    height: 41px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 719px;
}
.lupa{
    width: 27px;
    height: 27px;
    margin-right: 73px;
    margin-top: 40px;
    margin-bottom: 719px;
}
.carrito{
    width: 33px;
    height: 22.5px;
    margin-right: 73px;
    margin-top: 40px;
    margin-bottom: 719px;
}
#lineaNegra{
    position: relative;
    background-color: black;
    width: 110px;
    height: 800px;
}